.root {
  display: flex;
  height: 60px;
  background: hsl(240, 5%, 22%);
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  color: white;
}
.label {
  margin: auto;
  width: 12vw;
}
@media (min-width: 900px) {
  .root {
    width: 60px;
  }
}
