.root {
  display: flex;
  height: 60px;
  background: hsl(240, 5%, 22%);
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  color: white;
  align-items: center;
}
.label {
  margin: auto;
  font-family: "Orbitron", sans-serif;
  font-size: 3vw;
  width: 60px;
}
@media (min-width: 900px) {
  .label {
    font-size: 22px;
  }
}
