.root {
  padding: 0.5em;
  background: #28282c;
  border-radius: 2px;
  display: flex;
  margin-bottom: 1%;
  font-family: "Audiowide", cursive;
  font-size: 9vw;
  color: #b9ff62;
  align-items: flex-end;
  position: relative;
}
.info {
  margin-top: 3%;
  font-size: 12px;
  color: rgb(148, 148, 148);
  position: absolute;
  right: 5px;
}
@media (min-width: 500px) {
  .root {
    font-size: 40px;
  }
}
